cover/htmlCover/paper-demo.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Demo for the icons</title>
    <link rel="stylesheet" href="css/paper.css" type="text/css"/>
  </head>
  <body>
    <figcaption class="image-caption"></figcaption>
    <div class="buttons">
      <button id="button-paper" data-layer="paper">paper</button>
      <button id="button-background" data-layer="background">background</button>
      <button id="button-mask" data-layer="mask">Black & white illustration</button>
      <button id="button-frontMask" data-layer="frontMask">color mask for the illustration</button>
      <button id="button-backcover" data-layer="backcover">backcover</button>
      <button id="button-frontcover" data-layer="frontcover">frontcover</button>
      <button id="button-spine" data-layer="spine">spine</button>
      <button id="button-cropMark" data-layer="cropMark">cropMark</button>
      <button id="what">Moving magic</button>
    </div>
    <figure><img class="hide" src="/img/construct/paper.png" id="paper"/><img class="hide" src="/img/construct/background.png" id="background"/><img class="hide" src="/img/construct/mask.png" id="mask"/><img class="hide" src="/img/construct/frontMask.png" id="frontMask"/><img class="hide" src="/img/construct/backcover.png" id="backcover"/><img class="hide" src="/img/construct/frontcover.png" id="frontcover"/><img class="hide" src="/img/construct/spine.png" id="spine"/><img class="hide" src="/img/construct/cropMark.png" id="cropMark"/>
    </figure>
    <script>
      const inputs = document.querySelectorAll('.buttons div input');
      
      function handleUpdate() {
        const suffix = this.dataset.sizing || '';
        document.documentElement.style.setProperty(`--${this.name}`, this.value + suffix);
      }
      
      inputs.forEach(input => input.addEventListener('change', handleUpdate));
      inputs.forEach(input => input.addEventListener('mousemove', handleUpdate));
      
      
    </script>
    <script>
      const buttons = document.querySelectorAll('button');
      
      function show(e) {
        const layer = this.dataset.layer || "no-layer";
        //- console.log(layer);
        this.classList.toggle("active");
        document.querySelector(`#${layer}`).classList.toggle("hide");
      }
      
      buttons.forEach(button => {
        button.addEventListener('click', show);
      });
      
      const wtfbutton = document.querySelector('#what');
      
      
      
      wtfbutton.addEventListener('click', function() {
        const lol = document.querySelectorAll('img');
        console.log(lol);
      
        for (var i = 0; i < lol.length; i++) {
              lol[i].classList.toggle("wtf");;
        }
      });
      
      
      document.querySelector('#button-all').addEventListener('click', function() {
         const Allbutton = document.querySelectorAll('button');
          const lol = document.querySelectorAll('img');
      
          for (var i = 0; i < lol.length; i++) {
                lol[i].classList.addClass("hide");;
          }
      })
    </script>
  </body>
</html>

cover/htmlCover/paper-demo.pug
<!DOCTYPE html>
html(lang="en")

  head
    meta(charset="UTF-8")
    title Demo for the icons
    link(rel="stylesheet" href="css/paper.css" type="text/css")

  body

    include mixins/_mixins.pug
    .buttons
        button#button-paper(data-layer="paper") paper
        button#button-background(data-layer="background") background
        button#button-mask(data-layer="mask") Black & white illustration
        button#button-frontMask(data-layer="frontMask") color mask for the illustration
        button#button-backcover(data-layer="backcover") backcover
        button#button-frontcover(data-layer="frontcover") frontcover
        button#button-spine(data-layer="spine") spine
        button#button-cropMark(data-layer="cropMark") cropMark
        //- button#button-all SHOW/HIDE everything
        button#what Moving magic
    figure
        +image("paper.png", "paper")
        +image("background.png", "background")
        +image("mask.png", "mask")
        +image("frontMask.png", "frontMask")
        +image("backcover.png", "backcover")
        +image("frontcover.png", "frontcover")
        +image("spine.png", "spine")
        +image("cropMark.png", "cropMark")

    include includes/_scripts-paper.pug
